<p id="notice"><%= notice %></p>

<div class="containera">
<% if @profile.user.id == current_user.id %>
<h4 class="edit"><%= link_to 'Edit Profile', edit_profile_path(@profile) %></h4>
<% end %>
<% if @profile.member_id == 2 %>

<div class="title">
  <strong>Tutor</strong>
<% else %>
  <strong>Student</strong>
<% end %>
</div>
<div class="pic">
<span class="imge"><%= image_tag @profile.avatar(:medium) %></span>
</div>

<div class="first">
  <strong>First name:</strong>
  <%= @profile.first_name %>
</div>

<div class="last">
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</div>

<div class="address">
  <strong>Address:</strong>
  <%= @profile.address %>
</div>

<div class="state">
  <strong>State:</strong>
  <%= @profile.state %>
</div>

<div class="suburb">
  <strong>Suburb:</strong>
  <%= @profile.suburb %>
</div>

<div class="postcode">
  <strong>Postcode:</strong>
  <%= @profile.postcode %>
</div>

<div class="qualifications">
  <strong>Qualifications:</strong>
  <%= @profile.qualifications %>
</div>

<div class="work">
  <strong>Work experience:</strong>
  <%= @profile.work_experience %>
</div>

<div class="facebook">
  <strong>Facebook account:</strong>
  <%= @profile.facebook_account %>
</div>

<div class="twitter">
  <strong>Twitter account:</strong>
  <%= @profile.twitter_account %>
</div>
</div>
<div class="btns">
<% if current_user.profile.member_id == 1 && current_user.id == @profile.user.id  %>
        <span class="yourb"><a><%= link_to 'Your Bookings', your_bookings_path %></a></span>
  <% else %>
  <% end %>

  <% if current_user.profile.member_id == 2 && current_user.id == @profile.user.id  %>
  |<span class='ad'><%= link_to 'Add Lesson', new_lesson_path %></span>
  |<span class="vy"><%= link_to 'View Your Lessons', your_lessons_path %></span>
  |<span class="lb"><%= link_to 'Lessons booked', bookings_path %></span>
<% end %>

<% if @profile.user.id != current_user.id %>
<% if !current_user %>
        <span class='sr'><a class="btn btn-primary" href="/users/sign_in" role="button">Sign in and add reviews!</a></span>
    <% else %>
       <span class="pr"> <a class="btn btn-primary" href="/profiles/<%=@profile.id%>/reviews/new" role="button" style="color:black">Add review for <%= @profile.first_name %></a></span>
    <% end %>
    <% end %>
</div>

    <% if @reviews.blank? %>
        <h3>No reviews just yet</h3>
        <% else %>
    <div class="list-group">
        <%= render @reviews %>
    </div>
    <% end %>


