<p id="notice"><%= notice %></p>

<h1>Lessons</h1>

<table>
  <thead>
    <tr>
      <th>Tutor</th>
      <th>Category</th>
      <th>Description</th>
      <th>Price hr</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td>  <%= link_to lesson.tutor.profile.first_name, profile_path(lesson.tutor.profile.id) %></td>
        <td><%= lesson.category.description %></td>
        <td><%= lesson.description %></td>
        <td><%= lesson.price_hr %></td>
        <td><%= link_to 'Show', lesson %></td>
        <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
        <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
