<p id="notice"><%= notice %></p>

<p>
  <strong>Tutor:</strong>
  <%= link_to @lesson.tutor.profile.first_name, profile_path(@lesson.tutor.profile.id) %>
</p>

<p>
  <strong>Category:</strong>
  <%= @lesson.category.description %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lesson.description %>
</p>

<P>
  <strong>Details:</strong>
  <%= @lesson.details %>
</p>

<p>
  <strong>Price hr:</strong>
  <%= @lesson.price_hr %>  |
<%= link_to 'Book me', new_booking_path(lesson: @lesson.id) %> |
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back to lessons', category_path(@lesson.category.id) %>
