<h1>Your Lessons</h1>

<% if @my_lessons.empty? %>
  <p>No Lessons</p>
  <td><%= link_to 'Add', new_lesson_path %></td>
<% else %>
  <table class='table table-striped'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Description</th>
        <th scope="col">Price hr $AUD</th>
        <th scope="col" colspan="3"></th>
      </tr>
    </thead>

    <tbody>
    <% @my_lessons.each do |l| %>
      <tr>
        <td><%= l.description %></td>
        <td><%= l.price_hr %></td>
        <td><%= link_to 'Edit', edit_lesson_path(l) %></td>
        <td><%= link_to 'Delete', l, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= link_to 'Add a lesson', new_lesson_path %>
  <%= link_to 'Back to Profile', profile_path(current_user.profile.id) %>
<% end %>