<div class="container"></div>
<div class="row">
<h1>
  <%= @category.description %>
</h1>

<%= image_tag @category.image(:medium), class:"category_image" %>
<div class="col-md-8">
    <% if @category.lessons.any? %>
      <h3 style="padding-bottom:2rem">Lessons</h3>
      <% @category.lessons.each do |l| %>
      <div class="lessons">
        <strong><p style="font-size:1.7rem">Lesson:</strong> <%= l.description %>
        <strong>Price:</strong> <%= number_to_currency(l.price_hr) %> AUD
        
        <% if user_signed_in? %>
          <strong>Tutor:</strong> <%= link_to l.tutor.profile.first_name, profile_path(l.tutor.profile.id) %>
          <%= link_to l.tutor.profile.last_name, profile_path(l.tutor.profile.id) %>
          <% else %>
          <%= l.tutor.profile.first_name %>
          <%= l.tutor.profile.last_name %>
        <% end %>
        <% if l.tutor.profile.member_id == 2 %>
          <strong><%= link_to 'More Info', l %></strong></p>
        <% else %>
          <%= link_to '  Somehwere', '#' %>
        <% end %>
      <% end %>
    <% end %>
    <br><br><br><br><br><br>
    </div>
  </div>
  </div>
  </div>
