<h1>
  <%= @category.description %>
</h1>

<%= image_tag @category.image(:medium) %>
<div class="col-md-8">
    <% if @category.lessons.any? %>
      <h3>Lessons</h3>
      <% @category.lessons.each do |l| %>
      <ul class="lessons">
        <%= l.description %>
        <%= l.tutor.profile.first_name %>
        <%= l.tutor.profile.last_name %>
      </ul>
      <% end %>
    <% end %>
  </div>




  <%= link_to 'Edit', edit_category_path(@category.id) %> |
  <%= link_to 'Add New', new_category_path %> |
  <%= link_to 'Back', categories_path %>