<%= form_for([@profile, @review]) do |form| %>

  <%= form.hidden_field :student_id, value: current_user.id %>

    <%= form.hidden_field :profile_id, value: @profile.id %>
    
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, id: :review_rating %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment, id: :review_comment %>
  </div>

  <div class="actions">
    <div style="margin-left:-43%"><%= form.submit %></div>
  </div>

  <a class="btn btn-primary" href="/profiles/<%= @profile.id%>" role="button">Back</a>
<% end %>
