<header style="background-color:#E0F9FA" class="navbar navbar-light navbar-fixed-top">
      <div class="container">
       <%= link_to image_tag("TMlogo.jpg"), root_path, id: "my_logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
        <li style="padding-right:3rem;font-size:2rem;margin-top:1rem"><%= link_to "Home", root_path %></li>
        <% if user_signed_in? %>
          <li class="dropdown">
            <a style="height:6rem;text-align:center;width:20rem;font-size:2rem;margin-top:1rem;" href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul style="background-color:#d9e6eaf5" class="dropdown-menu">
              <li class="divider"></li>
              <li>
              <a style="text-align:center;font-size:2rem" class="dropdown-item nav-link" href="/profile">Profile</a>
              </li>
              <li class="divider"></li>
              <li style="text-align:center;font-size:2rem">
                <%= link_to "Log out", destroy_user_session_path, method: :delete %> <br>
                 <span style="margin-top:2rem;color:black;font-size:1rem;text-align:center"> Welcome back <%= current_user.email %></span>
              </li>
            </ul>
        <% else %>
          <li style="font-size:2rem;margin-top:1rem"><%= link_to "Sign up", new_user_registration_path %></li>
          <li style="font-size:2rem;margin-top:1rem"><%= link_to "Log in", user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>