<!DOCTYPE html>
<head>
<!-- My favicon -->
    <link rel="icon" type="image/JPG" href="https://s3.amazonaws.com/teach-me-app/logo/TM+logo3.JPG"/>
</head>
<html>
<head>
    <title>Teachme App</title>
    <%= render 'layouts/rails_default' %>
  </head>
  <body>
  <%= render "layouts/header" %>
    <div class="container">
    <% flash.each do |message_type, message| %>
<%= content_tag(:div, message, class: "alert alert-#{message_type}") %>      <% end %>
    <%= yield %>
    <%= render "layouts/footer" %>
    </div>
    <script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>
    <script> 
      var navOptions = document.querySelector('.nav-options');
var mobNav = document.querySelector('.mobile-nav-menu');
var closeNav = document.querySelector('.mobile-nav-exit');

mobNav.onclick = function () {
  mobNav.style.display = 'none';
  closeNav.style.display = 'inline-block';
  navOptions.style.display = 'block';

  closeNav.onclick = mobNav.onclick = function() { 
      mobNav.style.display = "none"; 
      closeNav.style.display = "inline-block"; 
      navOptions.style.display = 'block'
      };
      
  closeNav.onclick = function removeIcon() {
    mobNav.style.display = 'inline-block';
    closeNav.style.display = 'none';
    navOptions.style.display = 'none';
  }
}

    </script>
  </body>
</html>
