<!DOCTYPE html>
<head>
<!-- My favicon -->
    <link rel="icon" type="image/png" href="https://s3.amazonaws.com/teach-me-app/logo/TM+logo3.JPG"/>
</head>
<html>
<head>
    <title>Teachme App</title>
    <%= render 'layouts/rails_default' %>
  </head>
  <body>
  <%= render "layouts/header" %>
    <div class="container">
    <% flash.each do |message_type, message| %>
<%= content_tag(:div, message, class: "alert alert-#{message_type}") %>      <% end %>
    <%= yield %>
    <%= render "layouts/footer" %>
    </div>
  </body>
</html>
